<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALOSync.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DF2AED126E8A5B900471857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DF2AEE626E8A5BB00471857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DF2AEF026E8A5BC00471857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
